.fontTypeSelector {
  display: flex;
  flex-direction: row;
  
}

.wrapper {
  margin: 0 auto;
  width: 60%;
  display: flex;
  left: auto;
  right: auto;
}

.body {
  margin-top: 20%;
}

.headingPrimary {
  margin-bottom: 1rem;
}
